* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.hero {
    width: 100%;
    height: 150px;
    background-image: url("/img/wall.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex */
.flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


/* Layout */
.cork {
    width: 100%;
    background-image: url(/img/cork.png);
    box-sizing: cover;
    background-position: center;
    padding: 40px 0;

}

#my-hero {
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 30px;
}

.col {
    width: 30%;
    margin-bottom: 10px;
}
.pin {
    position: absolute;
    top: 15px;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.polaroid {
    background: white;
    padding: 10px 10px 25px;
    margin: 15px;
    display: inline-block;
    cursor: pointer;
    max-width: 250px;
}

.polaroid img {
    display: block;
    width: 100%;
    height: auto;
}