* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.hero {
    width: 100%;
    height: 150px;
    background-image: url("/img/wall.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

/* flex */
.flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}


/* Layout */ 
.cork {
    width: 100%;
    height: 1000px;
    background-image: url(/img/cork.png);
    box-sizing: border-box;
   
}
#my-hero {
    width: 60%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

.col {
    width: 30%;
    margin-bottom: 10px;
}