* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.hero {
    width: 100%;
    height: 150px;
    background-image: url("/img/wall.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex */
.flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}
.justify-content {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}


/* Layout */
.cork {
    width: 100%;
    background-image: url(/img/cork.png);
    box-sizing: cover;
    background-position: center;
    padding: 40px 0;

}

#my-hero {
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 30px;
}

.col {
    width: 30%;
    margin-bottom: 10px;
    position: relative;
}
.pin {
    position: absolute;
    top: -10px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.polaroid {
    background: white;
    padding: 10px 10px 25px;
    margin: 15px;
    display: inline-block;
    cursor: pointer;
    max-width: 250px;
}

.polaroid img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-none{
    display: none;
}

.center {
    width: 400px;
    height: 400px;
    /* background: red; */
}